.left-margin {
  margin: 0px 16px;
}

.credit {
  border-radius: 10px;
  padding: 10px;
  display: block;
  border: #fff 1px solid;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.credit label {
  margin-left: auto;
  margin-right: 15px;
}

.credit a,
.credit label {
  color: white;
  text-decoration: underline;
  text-align: right;
}

.credit pre {
  display: none;
  width: 100%;
}

.credit label::after {
  content: "show license";
  cursor: pointer;
}

.credit input:checked + label::after {
  content: "hide license";
}

.credit input:checked ~ pre {
  display: block;
}